<div class="main-container">
  <div class="main-content">
    <div class="comp-name">
      <div class="app-info">
        <p>FRIENDS</p>
      </div>
    </div>
    <div class="signin-info">
      <div class="text">
        <div class="get-start">Get started!</div>
        <div class="extra">
          <div class="para-text">FRIENDS makes best by connecting with</div>
          <div class="para-text">your Friends</div>
        </div>
      </div>
      <div class="button">
        <div class="twit-button">
          <button
            (click)="launchTwitterLogin()"
            type="button"
            [disabled]="disableButton"
            class="twitter-btn"
          >
            Sign in with Twitter
          </button>
        </div>
        <div class="comp-info">
          <div class="last-text">Share your story with your</div>
          <div class="last-text">FRIENDS</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-info btn-block"
 (click)="launchTwitterLogin()"
  type="button" [disabled]="disableButton">
   <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
    <i class="fa fa-twitter"></i> 
    Sign in with <b>Twitter</b>
</button> -->
