.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 9vh;
    width: 55vh;
    height: 70vh;
    padding: 30px 40px;
    border-radius: 3px;
    background-color: #12296f;
    
}
.comp-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
}
.signin-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.get-start{
    
    color: aliceblue;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para-text {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.button{
    margin-top: 7vh;
}
.twitter-btn{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 17px 60px;
    gap: 20px;
    border-radius: 7px;
    background-color: #1379f2;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.comp-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    //margin-bottom: 2vh;
}
.last-text{
    color: aliceblue;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.ticon
{
    height: 1.5rem;;
}